* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #ffffff;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  z-index: 1;
  position: relative;
}

.error span {
  font-size: 60px;
  color: #150035;
  font-weight: 900;
  white-space: pre-line;
  line-height: 1;
  letter-spacing: 3px;
  text-shadow: 1px 7px 1px #fff;
}
.error p {
  color: rgb(0, 0, 0);
  white-space: pre-line;
  padding-top: 25px;
  font-size: 15px;
  line-height: 1.3;
}

.img img {
  width: 570px;
}
